<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MH_SocialnoOmrezje.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MH_SocialnoOmrezje.Properties.Settings>
            <setting name="Ime" serializeAs="String">
                <value>Miha</value>
            </setting>
            <setting name="Priimek" serializeAs="String">
                <value>Hirtl</value>
            </setting>
            <setting name="Datum_rojstva" serializeAs="String">
                <value>10</value>
            </setting>
        </MH_SocialnoOmrezje.Properties.Settings>
    </userSettings>
</configuration>